doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title TXT Extractor
  meta(content='' name='descriptison')
  meta(content='' name='keywords')
  // Favicons
  link(href='assets/img/favicon.png' rel='icon')
  link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  // Vendor CSS Files
  link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='assets/vendor/icofont/icofont.min.css' rel='stylesheet')
  link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='assets/vendor/venobox/venobox.css' rel='stylesheet')
  link(href='assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='assets/vendor/owl.carousel/assets/owl.carousel.min.css' rel='stylesheet')
  link(href='assets/vendor/aos/aos.css' rel='stylesheet')
  // Template Main CSS File
  link(href='assets/css/style.css' rel='stylesheet')
  //
    =======================================================
    * Template Name: Bootslander - v2.1.0
    * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ========================================================
// ======= Header =======
header#header.fixed-top.d-flex.align-items-center
  .container.d-flex.align-items-center
    .logo.mr-auto
      h1.text-light
        a(href='index.html')
          span TXT Extractor

    nav.nav-menu.d-none.d-lg-block
      ul
        li.active
          a(href='#header') Home
        li
          a(href='#extract') Extract
// End Header
// ======= Hero Section =======
block content
section#hero
  .container
    .row
      .col-lg-7.pt-5.pt-lg-0.order-2.order-lg-1.d-flex.align-items-center
        div(data-aos='zoom-out')
          h1
            | Pull text from images and PDFs 
            span TXT Extractor
          .text-center.text-lg-left
            a.btn-get-started.scrollto(href='#extract') Get Started
      .col-lg-5.order-1.order-lg-2.hero-img(data-aos='zoom-out' data-aos-delay='300')
        img.img-fluid.animated(src='assets/img/hero-img.png' alt='')
  svg.hero-waves(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewbox='0 24 150 28 ' preserveaspectratio='none')
    defs
      path#wave-path(d='M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z')
    g.wave1
      use(xlink:href='#wave-path' x='50' y='3' fill='rgba(255,255,255, .1)')
    g.wave2
      use(xlink:href='#wave-path' x='50' y='0' fill='rgba(255,255,255, .2)')
    g.wave3
      use(xlink:href='#wave-path' x='50' y='9' fill='#fff')
// End Hero
main#main
  
  // ======= Contact Section =======
  #extract
    section#contact.contact.mx-auto
      .container
        .section-title(data-aos='fade-up')
          
          .col-lg-6.mt-5.mt-lg-0.mx-auto(data-aos='fade-left' data-aos-delay='200') 
            br
            form.php-email-form(action='/' method='post' role='form' id='extractForm')
              #urlInfo.form-group
                label Link to image or PDF
              .input-group.mb-3
                input#subject.form-control(type='text' name='url' placeholder='http://www.yourlinktofile')
                .input-group-append
                  button.btn.btn-primary(type='submit') Submit
            br
            h3 OR
            br
            form#uploadForm(ref='uploadForm', action='/upload', method='post', enctype='multipart/form-data')
              .input-group.mb-3
                .custom-file
                  input#inputGroupFile02.custom-file-input(type='file' name='parseFile')
                  label.custom-file-label(for='inputGroupFile02', aria-describedby='inputGroupFileAddon02') Choose file
                .input-group-append
                  button#inputGroupFileAddon04.btn.btn-outline-secondary(type='submit') Button
            br

            if clientRes
              if clientRes.length >= 1
                .form-group
                  label Extracted Text
                  textarea.form-control(name='extract' rows='8' readonly) #{clientRes}


  // End Contact Section
// End #main
// ======= Footer =======
footer#footer
  .footer-top
    .container
      .row
        .col-lg-4.col-md-6
// End Footer
a.back-to-top(href='#')
  i.icofont-simple-up
#preloader
// Vendor JS Files
script(src='assets/vendor/jquery/jquery.min.js')
script(src='assets/vendor/bootstrap/js/bootstrap.min.js')
script(src='assets/vendor/jquery.easing/jquery.easing.min.js')
script(src='assets/vendor/venobox/venobox.min.js')
script(src='assets/vendor/waypoints/jquery.waypoints.min.js')
script(src='assets/vendor/counterup/counterup.min.js')
script(src='assets/vendor/owl.carousel/owl.carousel.min.js')
script(src='assets/vendor/aos/aos.js')
// Template Main JS File
script(src='assets/js/main.js')
script(src='assets/js/app.js')
script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js')
