// accent #48B47A

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Error
    style
      background-color: #240EA2
  body#home
    h1 Not Found
    p
      | Go Back 
      a(href='/') Back